@tailwind base;
@tailwind components;
@tailwind utilities;


 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --tomato-500: #F44336;
  --tomato-700: #C62828;

}

* {
  transition: all background-color 1.3s, 
  color 1.3s;
}

.bg-tomato-500 { background-color: var(--tomato-500); }
.bg-tomato-700 { background-color: var(--tomato-700); }
.text-tomato-500 { color: var(--tomato-500); }
.hover\:bg-tomato-600:hover { background-color: #8411a7; }
.dark\:hover\:bg-tomato-800:hover { background-color: #B71C1C; }
